---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<a href="/items">View Estate Sale</a>
</Layout>

<style>
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		margin: 0;
	}
	a {
		color: #222;
		font-size: 1.25rem;
	}
</style>